.onboard-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem .5rem;
}
.onboard-logo{
    font-weight: 800;
    letter-spacing: .075rem;
    font-size: 1.2rem;
    color: #344786;
}
.onboard-button{
    padding: .5rem 2rem;
    border: solid #344786;
    color: #344786;
    font-size: 1rem;
    border-width: 2px;
    border-radius: 25px;
    font-weight: 600;
}